In [1]:
#Q1 (A)
class Bird:
    def fly(self):
        print("bird flying")
class Crow(Bird):
    def cawing(self):
        print("Crow cawing")
a = Crow()
a.fly()
a.cawing()
print("Done")

bird flying
Crow cawing

In [10]:
#Q1 (B)
class Student:  
    def __init__(self, name, age, stream):  
        self.name = name  
        self.age = age  
        self.stream = stream  
      

s1 = Student("Rajvi", 18, "Fintech")  


print(getattr(s1, "name"))  
setattr(s1, "age", 19)  
print(getattr(s1, "age"))  
print(hasattr(s1, "age"))

Rajvi
19
True

In [2]:
#Q1 (C)
class Animals:
    def display1(self):
        print("Animals")
class Dog(Animals):
    def display2(self):
        print("Dog")
class Puppy(Dog):
    def display3(self):
        print("Puppy")
b = Puppy()
b.display1()
b.display2()
b.display3()

Animals
Dog
Puppy

In [11]:
#Q1 (D)
class Employee:
    count = 0
    def __init__ (self):
        Employee.count = Employee.count + 1
        
e1 = Employee()
e2 = Employee()
e3 = Employee()
print("Number of employees:", Employee.count)

Number of employees: 3

In [19]:

#Q1 (E)
class Student:
    def __init__ (self, name, age, stream, roll_no):
        self.name = name
        self.age = age
        self.stream = stream
        self.roll_no = roll_no
    def display(self):
        print(self.name, self.age,self.stream,self.roll_no)
stu = Student("rajvi",19,"fintech",44)
stu.display()

rajvi 19 fintech 44

In [ ]:
#Q2 (A)
https://panchal44.odoo.com/

In [20]:
#Q2 (C)
from tkinter import *
import tkinter as tk
from functools import partial
import tkinter.messagebox
def name():
    tkinter.messagebox.showinfo("box","")
    call_value=partial(name,bname,ltype,lamt,bankn1,loant1,loanam1)
top = Tk()
top.geometry("400x400")
bankn1 = tk.StringVar()
loant1 = tk.StringVar()
loanam1 = tk.StringVar()
bname=Label(top, text="Bank name").place(x=30,y=50)
ltype=Label(top,text="Loan type").place(x=30,y=90)
lamt=Label(top,text="Loan amount").place(x=30,y=130)
e1 = Entry(top,textvariable = bankn1).place(x=120, y=50)
e2 = Entry(top, textvariable = loant1).place(x=120, y=90)
e3=Entry(top, textvariable=loanam1).place(x=120,y=130)

submitbtn=Button(top,text="submit",command=name).place(x=30,y=200)
top.mainloop()

In [ ]:
#Q2(D)
Mysql
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Admin@123",
  database="Smartphone"  
)

mycursor = mydb.cursor()
mycursor.execute("create  table Mobile (Model_id varchar(50), Model_name varchar(50), Company_name varchar(50), price varchar(50)")

for x in mycursor:
     print(x)

In [ ]:
#Q2(D)
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Admin@123",
  database="Smartphone"  
)


mycursor = mydb.cursor()


sql = "insert into Mobile (Model_id,Model_name,Company_name,price) Values (%s, %s,%s,%s)"
val = [
  ("101","galaxy S series","Samsung","30000"),
  ("102","One plus Nord","One plus","15000")
 
]


mycursor.executemany(sql, val)

mydb.commit()
print(mycursor.rowcount, " Data was inserted.")

In [ ]:
#Q2(D)
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Admin@123",
  database="Smartphone"  
)
mycursor = mydb.cursor()


mycursor.execute("select  * from Mobile")

myresult = mycursor.fetchall()


for x in myresult:
print(x)